/*------------------*/
/*--SCSS main File--*/
/*------------------*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* colors :
  black : #272727;
  grey : #DFDFDF;
  lblue :C0E8F9
  dgray :272727

*/
/* ----------------------- */
/* ---Custom Propreties--- */
/* ----------------------- */
/* ------------------- */
/* ---Utility Class--- */
/* ------------------- */
.bg-grey {
  background-color: #d9d9d9;
}

.bg-green {
  background-color: #04e762;
}

.bg-black {
  background-color: #262626;
}

.bg-white {
  background-color: #ffff;
}

.bg-blue {
  background-color: #bee7f9;
}

.fc-grey {
  color: #d9d9d9;
}

.fc-black {
  color: #262626;
}

.fc-blue {
  color: #bee7f9;
}

.fc-white {
  color: #ffff;
}

body {
  font-family: "Old Standard TT", serif;
}

h1,
h2,
h3 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}

h1 {
  line-height: 0.7;
}

h3 {
  font-size: 2rem;
  text-align: center;
  padding: 2em 0;
}

.fs-small {
  font-size: 1rem;
}

.fs-large {
  font-size: 1.25rem;
}

.fs-subhead {
  font-size: 1.5rem;
}

.fs-head {
  font-size: 2rem;
}

.fs-title {
  font-size: 10rem;
}

.fw-thick {
  font-weight: 800;
}

.fw-bold {
  font-weight: 600;
}

.ls-small {
  letter-spacing: 4px;
}

.ls {
  letter-spacing: 6px;
}

.ls-large {
  letter-spacing: 8px;
}

.fs-old {
  font-family: "Old Standard TT", serif;
}

.fs-bebas {
  font-family: "Bebas Neue", sans-serif;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1em;
}

img {
  display: inline-block;
  width: 100%;
  background-size: cover;
}

.icon {
  height: 30px;
  width: 30px;
  place-items: center;
  background: #04e762;
  border-radius: 0 15px 15px 15px;
}

.icon img {
  height: 24px;
  width: 24px;
}

.container {
  width: 90%;
  margin: auto;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cta {
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.cta-link {
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 600;
  border: none;
  padding: 0.5em 1.5em;
  border-radius: 0.5em;
}

.cta:hover,
.cta:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* ---------------- */
/* ----Styling----- */
/* ---------------- */
.hero {
  min-height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.hero .bg {
  height: 100vh;
  width: 100%;
  position: absolute;
  background-image: url(./images/heroBg.jpg);
  background-position: calc(100vw + 80vw);
  background-size: cover;
  mix-blend-mode: multiply;
}

.hero .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
}

.hero .container h2 {
  margin-left: 0.5em;
  margin-bottom: 1em;
}

.hero .container .hero-content {
  margin-left: 0.5em;
  max-width: 600px;
}

.hero .container .hero-content p {
  margin-bottom: 1em;
}

.modelBg {
  position: absolute;
  height: 100vh;
  width: 100vw;
  -webkit-transform: translateX(-5vw);
          transform: translateX(-5vw);
  background: rgba(38, 38, 38, 0.8);
}

.model {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #d9d9d9;
  color: #262626;
  padding: 1em;
  text-transform: capitalize;
  text-align: center;
  border-radius: 0.7em;
}

.why-choose-us .container {
  width: 100%;
}

.card-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em 0;
}

.card {
  width: 50vw;
  height: 200px;
  max-width: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 2em 0;
  border-radius: 0 2em 2em 2em;
}

.card p {
  width: 60%;
}

.delecious-delights {
  margin-top: 2rem;
  padding: 0;
}

.delecious-delights .container {
  margin: 0;
  padding-bottom: 3em;
  width: 100vw;
}

.delecious-delights .card-container {
  padding: 0;
  background: #000000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.delecious-delights .card-wrapper {
  max-width: 600px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.delecious-delights .card-wrapper .card {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  height: auto;
  border-radius: 0;
  gap: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.delecious-delights .card-wrapper .card .image {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.delecious-delights .card-wrapper .card img {
  width: 150px;
  margin-left: 1rem;
}

.delecious-delights .card-wrapper .card p {
  width: 30vw;
  margin-right: 1rem;
}

.del-payment {
  padding-bottom: 3em;
}

.del-payment .card-wrapper .card {
  min-width: 250px;
  max-width: 300px;
  height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 0;
  border-radius: 1em;
}

.del-payment .card-wrapper .card .image img {
  width: 50px;
  margin-left: 1em;
}

.del-payment .card-wrapper .card .card-contents {
  text-align: center;
  margin-left: 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
}

.del-payment .card-wrapper .card .card-contents p:first-child {
  text-transform: uppercase;
}

.del-payment .card-wrapper .card .card-contents p:last-child {
  line-height: 1;
}

.contact-form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2rem;
}

.contact-form input,
.contact-form textarea {
  border: none;
  height: 2em;
  padding-inline: 1em;
  font-size: 1rem;
  color: #bee7f9;
  border-bottom: 1px solid #bee7f9;
  margin: 0.5em 0;
  resize: none;
}

.contact-form textarea {
  min-height: 3em;
}

@media (min-width: 400px) {
  .card-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .del-payment .card {
    max-width: 100px;
  }
  .delecious-delights .card-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .delecious-delights .card-wrapper .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .delecious-delights .card-wrapper .card p {
    width: 50%;
  }
}

@media (min-width: 600px) {
  .hero .bg {
    background-position: center;
    background-size: cover;
  }
}
/*# sourceMappingURL=style.css.map */